extends layout

block accounts
script(src="foo.js")

block content
	#content
		h2 Update Account
		
		if (err)
			p.err=err

		form(action='/accounts/'+account.email + '/update', method='POST', id='updateAccount')
			table
				tbody
					tr
						td: label(for='FirstName') First Name: 
						td: input(type='text', name='firstName', id='firstName', value=account.firstName)
					tr
						td: label(for='LastName') Last Name: 
						td: input(type='text', name='lastName', id='lastName', value=account.lastName)
					tr
						td: label(for='email') Email:
						td: input(type='text', name='email', id='email', value=account.email, disabled='disabled')
					tr
						td: label(for='password') Password: 
						td: input(type='password', name='password', id='password')
					// need to implement form validator to verify their passwords match
					tr
						td: label(for='verifyPassword') Verify Password: 
						td: input(type='password', name='verifyPassword', id='verifyPassword')
					tr
						td: label(for='handle') Handle: 
						td: input(type='text', name='handle', id='handle', value=account.handle)		
			p
				input(type='submit', value='Update')
			p
				a(href="/logon") Logon
