extends layout
block socketio
    script(src='/socket.io/socket.io.js')
    script(src='/scripts/gameLobby.js')
    
block menu
block content
    #content
        h2 #{playerOne.handle}'s Game
        h3 Game Config:
        #Config
            table
                tbody
                    tr
                        th Option
                        th Value
                    - each value, option in request.game.config.toObject()
                        tr
                            td #{option}
                            td 
                                - if (request.game.isPlayerOne(request.user['_id']))
                                    input(type="number", class="game config", name=option, id=option, min="2", max="4", value=value) 
                                - else
                                    input(type="number", disabled='disabled', class="game config", name=option, id=option, min="2", max="4", value=value) 
        h3 Players:
        #PlayersList
            table
                tbody
                    tr
                        th Player No.
                        th Handle
                        th Ready
                    - for (var i = 1; i <= request.game.config.maxPlayers; i+=1)
                        tr
                            td=i
                            td &nbsp;
                            td &nbsp;
        h3 I'm ready!
            input(id='imReady', name='imReady', type='checkbox', value='true')
            - if (request.game.isPlayerOne(request.user['_id']))
                input(id='startGame', disabled='disabled', type='button', value='Start the Game!')
        br
        label(for="chat_log") Chat Log:
        br
        textarea(id='chat_log', cols='100', rows='15', disabled='disabled')
        br
        input(id='chat_input', disabled='disabled', size='100', value='Type here to chat!')
        button(id='chat_submit', disabled='disabled') Chat